<!--begin footer -->
<div class="footer">

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row footer-top">

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>ABOUT US</h4>

        <p>A family-owned restarant that offers authentic Italian food and an inviting rustic atmosphere.</p>

        <a href="about.html" class="btn btn-lg btn-yellow-x-small scrool">OUR STORY</a>

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>LATEST RECIPES</h4>

        <ul class="footer-list">

          <li class="first"><a href="#" target="blank">Capesante Con Polenta</a></li>

          <li><a href="#" target="blank">Pollo Modena</a></li>

          <li><a href="#" target="blank">Cotoletta di Vitello</a></li>

          <li><a href="#" target="blank">Mako Shark</a></li>

        </ul>

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>FEATURED PLATES</h4>

        <ul class="footer-gallery">

          <li class="popup-gallery">
            <a class="popup2" href="images/gallery1.jpg">
              <img src="images/gallery1.jpg" alt="" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="images/gallery2.jpg">
              <img src="images/gallery2.jpg" alt="" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="images/gallery3.jpg">
              <img src="images/gallery3.jpg" alt="" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="images/gallery4.jpg">
              <img src="images/gallery4.jpg" alt="" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="images/gallery1.jpg">
              <img src="images/gallery1.jpg" alt="" />
            </a>
          </li>

          <li class="popup-gallery">
            <a class="popup2" href="images/gallery2.jpg">
              <img src="images/gallery2.jpg" alt="" />
            </a>
          </li>

        </ul>

      </div>
      <!--end col-md-3 -->

      <!--begin col-md-3 -->
      <div class="col-md-3 padding-bottom-50">

        <h4>CONTACT DETAILS</h4>

        <p>Have any questions? Feel free to contact us at:</p>

        <p class="contact_info"><i class="fa fa-map-marker"></i> 41 Cedar Street, Dobbs Ferry, NY 10522</p>

        <p class="contact_info"><i class="fa fa-phone"></i> 914 674 8427</p>

        <p class="contact_info"><i class="fa fa-envelope-square"></i> <a href="mailto:contact@restaurant.com">PiccolaNY@aol.com</a></p>

      </div>
      <!--end col-md-3 -->

    </div>
    <!--end row -->

    <!--begin row -->
    <div class="row">

      <!--begin footer-bottom -->
      <div class="footer-bottom">

        <!--begin col-md-5 -->
        <div class="col-md-5">

          <!--begin copyright -->
          <div class="copyright ">
            <p>© 2016 Zaferon. Web design by MaggioMares Software.</p>

          </div>
          <!--end copyright -->

        </div>
        <!--end col-md-5 -->

        <!--begin col-md-2 -->
        <div class="col-md-2 text-center">

          <a href="#hero-section" class="scrool top-scroll"><i class="fa fa-angle-double-up"></i></a>

        </div>
        <!--end col-md-2 -->

        <!--begin col-md-5 -->
        <div class="col-md-5">

          <!--begin footer_social -->
          <ul class="footer_social">
            <li>
              Follow Us:
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
          <!--end footer_social -->

        </div>
        <!--end col-md-5 -->

      </div>
      <!--end footer-bottom -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</div>
<!--end footer -->