@media(max-width:991px) {
    .navbar-default .navbar-nav > li.social > a.first {
        border-left: 0px;
        padding: 0px;
        color:#8E1B09;
    }
    .socialOthers {
        padding-left: 6px;
    }
    .navbar-default {
        background-color: #FFF799;
    }

    /*.navbar-brand > img {*/
        /*margin-top: -16px;*/
    /*}*/

}

.navbar-brand > img {
    margin-top: -23px;
}